html, body {
    overflow: hidden;
}

/*vars*/
:root {
    /*colors*/
    --white: #fff;
    --gray: #505050;
    --teal: #54969B;
    /*btn*/
    --btn-size: 50px;
    --btn-spacing: 10px;
    /*spacing*/
    --view-padding: 40px;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#map {
    height: 90vh;
}

nav {
    display: flex !important;
    position: absolute;
    z-index: 999;
    bottom: var(--view-padding);
    right: var(--view-padding);
}

/*zoom*/
.controls button {
    margin-bottom: var(--btn-spacing);
    display: block;
}
.controls button:last-of-type {
    margin-bottom: 0;
}

#floor {
    margin-top: auto;
    margin-right: var(--view-padding);
}

#floor button {
    display: inline;
    float: left;
    margin-right: var(--btn-spacing);
}

button {
    background-color: var(--white);
    color: var(--teal);
    height: var(--btn-size);
    width: var(--btn-size);
    border-radius: 30px;
    border: 3px solid var(--teal);
    display: flex !important;
    align-items: center;
    justify-content: center;
}

button object {
    height: 30px;
    width: 30px;
    /*object won't be clickable with out pointer event*/
    pointer-events: none;
}

button:focus,
button:hover,
.btn-active {
    background-color: var(--teal);
}

/*icons turn white*/
button:focus object,
button:hover object,
.btn-active object {
    filter: brightness(1000%); 
}

#logo {
    position: absolute;
    top: 60px;
    left: var(--view-padding);
}

#logo img {
    width: 120px;
    height: auto;
}