html, body {
    overflow: hidden;
}

/*vars*/
:root {
    /*colors*/
    --white: #fff;
    --gray: #505050;
    --teal: #54969B;
    /*btn*/
    --btn-size: 50px;
    --btn-spacing: 10px;
    /*spacing*/
    --small-spacing: 20px;
    --medium-spacing: 40px;
    --large-spacing: 60px;
}

header {
    position: fixed;
    width: 100%;
    background: var(--white);
    border-bottom: 1px solid var(--gray) !important;
}

#header-container {
    margin-top: var(--small-spacing);
    display: flex !important;
    height: 50px;
    margin-bottom: 10px;
}

#logo {
    margin-left: var(--medium-spacing);
}

#logo img {
    width: 108px;
    height: auto;
    margin-top:6px;
}

#floor {
    display:flex;
    position: absolute;
    right: var(--medium-spacing);
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/*resized and centered to not fill window*/
#map {
    height: 83.5vh;
    width: 100%;
}

nav {
    position: fixed;
    z-index: 999;
    bottom: 0;
    width: 100%;
    background: var(--white);
    border-top: 1px solid var(--gray) !important;
}

.controls {
    display: flex !important;
    justify-content: center;
    padding-bottom: var(--small-spacing);
    margin-top: 10px;
}

button {
    background-color: var(--white);
    color: var(--teal);
    height: var(--btn-size);
    width: var(--btn-size);
    border-radius: 30px;
    border: 3px solid var(--teal);
    margin-left: var(--btn-spacing);
    /*for centering icon*/
    display: flex !important;
    align-items: center;
    justify-content: center;
}

button:last-of-type {
    margin-right: 0;
}

button object {
    height: 30px;
    width: 30px;
    /*object won't be clickable with out pointer event*/
    pointer-events: none;
}

button:focus,
button:hover,
.btn-active {
    background-color: var(--teal);
}

/*icons turn white*/
button:focus object,
button:hover object,
.btn-active object {
    filter: brightness(1000%); 
}